HOSTNAME=hostname
MIX_ENV=prod
REPLACE_OS_VARS=true
NODE_NAME=oriel_1@127.0.0.1
NODE_LIST=oriel_1@127.0.0.1,oriel_2@127.0.0.1,oriel_3@127.0.0.1
NODE_COOKIE=USE_REAL_NODE_COOKIE
HOST=oriel.example.org
PORT=8080
SECRET_KEY_BASE=USE_REAL_SECRET_KEY_BASE
TTL=86400
TTL_HEARTBEAT=1000

